<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/match">Match</a></li>
    <li class="active-tab is-active"><a href="/chat">Chat</a></li>
  </ul>
</div>

<main class="search-main">

 <div class="chat-container-room">
    <header class="chat-header">
      <h1 class="title is-3">Crush Chat</h1>
      <a href="/chat" class="btn button is-link is-light">Leave Room</a>
    </header>
    <div class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name"></h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users">
        </ul>
      </div>
      <div class="chat-messages"></div>
    </div>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          class="input is-link" 
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn button is-success"><i class="fas fa-paper-plane"></i>  Send</button>
      </form>
    </div>
  </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketScript.js"></script>