<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/search">Search</a></li>
     <li><a href="/match">Match</a></li>
    <li class="active-tab is-active"><a href="/chat">Chat</a></li>
  </ul>
</div>

<main class="joinchat-main">

   <div class="joinchat-room-div">
		<form action="/chatRoom" method="GET">
			<div class="form-control">
				<label class="label is-large" for="username">Username:</label>
        	<input class="input is-link" type="text" name="username" id="username" placeholder="{{user.name}}" value="{{user.name}}" required/>
					<div class="form-control">
						<label class="label is-large" for="room">Room</label>
            <div class="control">
              <div class="select">
                <select name="room" id="room">
							    <option value="General">General</option>
                  <option value="Love">Love</option>
						    </select>
              </div>
            </div>
					</div>
				<button type="submit" class="btn join-chat-button button is-danger">Join Chat</button>
		</form>
  </div>
  
</main>


  {{!-- <main>

    <div class="chat-container">
      <div class="inbox">
        <div class="inbox__people">
          <h4>Active users</h4>
        </div>
        <div class="inbox__messages">
          <div class="messages_history"></div>
          <div class="fallback"></div>
        </div>
      </div>

      <ul id="messages"></ul>
      <form id="form" action="" class="message_form">
        <input class="input-message input is-primary" id="input" autocomplete="off"/><button class="button-message button is-primary">Send</button>
      </form>
    </div>

  </main> --}}

    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> --}}
{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="/js/socketScript.js"></script> --}}