<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li class="active-tab is-active"><a>Home</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/match">Match</a></li>
    <li><a href="/chat">Chat</a></li>
  </ul>
</div>

<main class="homepage-main">

  <div class="homepage-content">

    <div class="home-tile-container">
        <div class="home-main-card card">
          <div class="card-content home-header-card">
            <div class="home-main-content content subtitle is-1">
              What would you like to do?
            </div>
          </div>
        </div>
    </div>
    
      <div class='columns home-card-container'>
          <div class="column card-home">
            <div class="icon-div">
              <img class="iconHome" src="/images/iconView.png" alt="Placeholder image">
            </div>
              <p class="subtitle is-3">View My Profile</p>
              <p class="subtitle is-5">You can view your profile and update your personal details.</p>
              <a href="/profile">
                <button id="home-search-btn" type="button" class="home-btn button is-link is-rounded">Profile</button>
              </a>
          </div>
          <div class="column card-home">
            <div class="icon-div">
              <img class="iconHome" src="/images/iconSearch.png" alt="Placeholder image">
            </div>
            <p class="subtitle is-3">Search For The Perfect Partner</p>
              <p class="subtitle is-5">You can search for your perfect partner based on their age, gender and postcode.</p>
              <a href="/search">
                <button id="home-search-btn" type="button" class="home-btn button is-link is-rounded">Search Now</button>
<<<<<<< HEAD
              </a>
          </div>
          <div class="column card-home">
            <div class="icon-div">
              <img class="iconHome" src="/images/iconMatch.png" alt="Placeholder image">
            </div>
              <p class="subtitle is-3">View All My Matches</p>
              <p class="subtitle is-5">View all your matches, update your match list and learn more about people in your match list.</p>
              <a href="/match">
                <button id="home-search-btn" type="button" class="home-btn button is-link is-rounded">Matches</button>
              </a>
          </div>
          
          <div class="column card-home">
            <div class="icon-div">
              <img class="iconHome" src="/images/iconChat.png" alt="Placeholder image">
            </div>
            <p class="subtitle is-3">Chat With Others</p>
              <p class="subtitle is-5">Join a Chat Room to communicate with others in a real time chat.</p>
              <a href="/chat">
                <button id="home-search-btn" type="button" class="home-btn button is-link is-rounded">Chat Now</button>
              </a>
          </div>
=======
              </a>
          </div>
          <div class="column card-home">
            <div class="icon-div">
              <img class="iconHome" src="/images/iconMatch.png" alt="Placeholder image">
            </div>
              <p class="subtitle is-3">View All My Matches</p>
              <p class="subtitle is-5">View all your matches, update your match list and learn more about people in your match list.</p>
              <a href="/match">
                <button id="home-search-btn" type="button" class="home-btn button is-link is-rounded">Matches</button>
              </a>
          </div>
          
          <div class="column card-home">
            <div class="icon-div">
              <img class="iconHome" src="/images/iconChat.png" alt="Placeholder image">
            </div>
            <p class="subtitle is-3">Chat With Others</p>
              <p class="subtitle is-5">Join a Chat Room to communicate with others in a real time chat.</p>
              <a href="/chat">
                <button id="home-search-btn" type="button" class="home-btn button is-link is-rounded">Chat Now</button>
              </a>
          </div>
>>>>>>> main
      </div>

  </div>

</main>

<<<<<<< HEAD

<script src="/js/chat.js"></script>
=======
>>>>>>> main
