<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li class="is-active"><a>Home</a></li>
    <li><a>My Profile</a></li>
    <li><a>Search</a></li>
    <li><a>Chat</a></li>
  </ul>
</div>

<main class="homepage-main">

<div class="home-main-card card">
  <div class="card-content">
    <div class="home-main-content content">
      What would you like to do?
    </div>
  </div>
</div>


<div class="home-card-container card">
    <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="home-tile-one tile is-child box">
          <p class="title">View My Profile</p>
          <p>You can view your profile and update your personal details.</p>
        </div>
        <div class="home-tile-two tile is-child box">
          <p class="title">View all your Chats</p>
          <p>See all the chat messages you exchanged with a match!</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="home-tile-three tile is-child box">
          <p class="title">Search for your true love ❤️</p>
          <p>You can filter your preferences in our search engine to find a suitable partner</p>
          <button id="home-search-btn" type="button" class="login-btn button is-danger">Search Now</button>
        </div>
      </div>
    </div>
</div>

</main>