<main class="login-main">

  <div class="columns">

    <div class="column">
      <form class="login-form form">
          <div>
            <h3 class="title-login title is-2">Login</h3>
          </div>
          <br>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id="login-email" class="input" type="email" placeholder="Email" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
              <p class="control has-icons-left">
                  <input id="login-password" class="input" type="password" placeholder="Password" required>
                  <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                  </span>
              </p>
          </div>
          <div class="field">
              <p class="control">
                  <button id="login-btn" type="button" class="login-btn button is-danger">
                      Login
                  </button>
              </p>
          </div>
            <a class="login-p-el" href="/signup">
              <p id="login-signup-p">Haven't got an account yet? Sign up here...</p>
            </a>
      </form>
    </div>
    <div class="column column-slider">
      <div class="slider">
        <div class="caption">
          It's never too late to find 
            <div class="text-box">
              <div>love!</div>
              <div>life!</div>
            </div>
        </div>
      </div>
    </div>

  <div>

        <div class="modal">
          <div class="modal-background"></div>
            <div class="modal-content">
              <div class="card">
                <div class="card-content">
                  <div class="content modal-login-content is-subtitle-3">
                     <img src="/images/modalImage.jpg" alt="Placeholder image">
                     <h1 class="title is-3">Sorry, it looks like the email and password are incorrect. If you do not have an account yet, sign up now.</h1>
                  </div>
                </div>
               </div>
            </div>
           <button class="modal-close-btn modal-close is-large" aria-label="close"></button>
        </div>
    
</main>

<script src="/js/login.js"></script>