<main class="columns login-main">

    <form class="login-form form column is-one-third">
        <div>
            <h3 class="title-login title is-2">Login</h3>
            </div>
            <br>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                <input id="login-email" class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                <input id="login-password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                <button id="login-btn" type="button" class="login-btn button is-danger">
                    Login
                </button>
                </p>
            </div>
            <a class="login-p-el" href="/signup">
               <p id="login-signup-p">Haven't got an account yet? Sign up here...</p>
            </a>
        </form>

        
          <div class="column slider">
            <div class="caption">
              Ready to find 
              <div class="text-box">
                <div>love!</div>
                <div>life!</div>
              </div>
            </div>
          </div>
    
        
</main>

<script src="/js/login.js"></script>