<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a>My Profile</a></li>
    <li class="is-active"><a href="/search">Results</a></li>
    <li><a>Chat</a></li>
  </ul>
</div>

<main>

  <div class="modal is-active">
    <div class="modal-background"></div>
      <div class="modal-content">
        <div class="card">
          <div class="card-content">
            <div class="content modal-login-content is-subtitle-3">
              <img src="/images/modalImage2.jpg" alt="Placeholder image">
              <h2 class="subtitle is-5">Sorry, it looks like there are no matches at the moment...</h2>
              <p class="subtitle is-5">Please try again later.</p>
            </div>
          </div>
        </div>
      </div>
    <button class="modal-close-button modal-close is-large" aria-label="close"></button>
  </div>

</main>

<script src="/js/noResult.js"></script>