<main class="search-main">

<h1>Search form</h1>
  <form class="search-form">
        <div class="field">
        <label class="label">Age:</label>
          <div class="control">
            <input class="input" type="text" placeholder="e.g Alex Smith">
          </div>
        </div>

        <div class="field">
          <label class="label is-normal">Gender:</label>
                <div class="control">
                  <div class="search-gender select">
                    <select>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                </div>
          </div>
        </div>

        <div class="field">
        <label class="label">Postcode:</label>
          <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
          </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-medium is-link">Search</button>
        </div>
   </form>

</main>

<script src="/js/search.js"></script>