<div class="home-tab tabs is-large is-boxed is-centered">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li class="active-tab is-active"><a href="/search">Search</a></li>
    <li><a>Chat</a></li>
  </ul>
</div>

<main class="columns search-main">

      <form class="column search-form">
        <div class="columns search-age-container">
          <div class="column is-3 field">
            <label class="search-label subtitle is-2 label">Min Age:</label>
            <div class="search-dropdown select">
                <select id="search-age1">
                  {{!-- Loop from JS file to loop over age --}}
              </select>
            </div>   
        </div>
          <div class="column field">
          <label class="search-label label">Max Age:</label>
              <div class="search-dropdown select">
                  <select id="search-age2">
                    {{!-- Loop from JS file to loop over age --}}
                </select>
              </div>   
          </div>
        </div>

        <div class="field">
          <label class="search-label label is-normal">Gender:</label>
                <div class="control">
                  <div class="search-gender select">
                    <select id="search-gender">
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                </div>
          </div>
        </div>

        <div class="field">
        <label class="search-label label">Postcode:</label>
          <div class="control">
            <input id="search-postcode" class="input" type="postcode" placeholder="e.g. 2000">
          </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-medium is-link is-danger">Search</button>
        </div>
   </form>
   
   <div class="column search-header">
     <img id="search-heart-img" src="/images/heart.jpg">
  </div>

  <div class="modal">
    <div class="modal-background"></div>
      <div class="modal-content">
        <div class="card">
          <div class="card-content">
            <div class="content modal-login-content is-subtitle-3">
              <img src="/images/modalImage2.jpg" alt="Placeholder image">
              <h2 class="subtitle is-5">Sorry, it looks like there are no matches at the moment...</h2>
              <p class="subtitle is-5">Please try again later.</p>
            </div>
          </div>
        </div>
      </div>
    <button class="modal-close-button modal-close is-large" aria-label="close"></button>
  </div>

</main>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/search.js"></script>