<main class="signup-main">

    <form class="signup-form form column is-one-third">
            <div>
                <h3 class="title is-2">Sign Up</h3>
            </div>
            <br>
              <div class="field">
                <label class="label is-normal">Username:</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="signup-username" class="input is-success" type="text" placeholder="Your preferred name" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="title is-6 help is-black">This username is available</p>
              </div>
              
              <div class="field">
                <label class="label is-normal">Email:</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="signup-email" class="input is-danger" type="email" placeholder="yourName@gmail.com" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <p class="title is-6 help is-black">This email is invalid</p>
              </div>
              
              <div class="field">
                <label class="label is-normal">Gender</label>
                <div class="control">
                  <div class="signup-gender select">
                    <select>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Phone:</label>
                <div class="control">
                  <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field is-expanded">
                    <div class="field has-addons">
                      <p class="control">
                        <a class="button is-static">
                          +61
                        </a>
                      </p>
                      <p class="control is-expanded">
                        <input class="input" type="tel" placeholder="Your phone number">
                      </p>
                    </div>
                    <p class="help">Do not enter the first zero</p>
                  </div>
                </div>
              </div>
                </div>
              </div>

              <label class="label is-normal">Postcode:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="Text input" value="2000">
              </div>
              <div class="field">
                <label class="label is-normal">Age:</label>
                <div class="control">
                  <div class="select">
                    <select>
                      {{!-- Create loop instead of hard coded elements! --}}
                      <option>54</option>
                      <option>55</option>
                      <option>56</option>
                      <option>57</option>
                      <option>58</option>
                      <option>59</option>
                      <option>60</option>
                      <option>61</option>
                      <option>62</option>
                      <option>63</option>
                      <option>64</option>
                      <option>65</option>
                      <option>66</option>
                      <option>67</option>
                      <option>68</option>
                      <option>69</option>
                      <option>70</option>
                      <option>71</option>
                      <option>72</option>
                      <option>73</option>
                      <option>74</option>
                      <option>75</option>
                      <option>76</option>
                      <option>77</option>
                      <option>78</option>  
                      <option>79</option>
                      <option>80</option>
                      <option>81</option>
                    </select>
                  </div>
                </div>
              <label class="label is-normal">Your Age: (If you are 68 years old, enter "68")</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="68" value="">
              </div>

              <label class="label is-normal">Fun Fact:</label>
                <div class="control has-icons-left has-icons-right">
                  <textarea class="input is-success" type="text" placeholder="I am a crazy cat lady" value="2000" rows="1"></textarea>
              </div>

              {{!-- <label class="label is-normal">Upload a Picture:</label>
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
              </div>
                <br> --}}
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-medium is-link">Sign Up</button>
                </div>
                <div class="control">
                  <button class="button is-link is-medium is-light">Cancel</button>
                </div>
            </div>
    </form>

</main>

<script src="/js/signup.js"></script>