<main class="signup-main">

    <form class="signup-form form column is-one-third">
            <div>
                <h3 class="title is-2">Sign Up</h3>
            </div>
            <br>
              <div class="field">
                <label class="label is-normal">Username:</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="signup-username" class="input is-link" type="text" placeholder="Your preferred name" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <label class="label is-normal">Email:</label>
                <div class="control has-icons-left has-icons-right">
                  <input id="signup-email" class="input is-link" type="email" placeholder="yourName@gmail.com" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <label class="label is-normal">Gender</label>
                <div class="control">
                  <div class="select is-link">
                    <select id="signup-gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Phone:</label>
                 <div class="control has-icons-left has-icons-right">
                  <input id="signup-phone" class="input is-link" type="text" placeholder="Text input" value="0423123456">
                 </div>
              </div>
              <div class="field">
                <label class="label is-normal">Postcode:</label>
                 <div class="control has-icons-left has-icons-right">
                  <input id="signup-postcode" class="input is-link" type="text" placeholder="Text input" value="2000">
                 </div>
              </div>
              <br>
              <div class="field">
                 <label class="label is-normal">Age:</label>
                   <div class="control">
                     <div class="select is-link">
                       <select id="signup-age">
                       {{!-- Loop from JS file to loop over age --}}
                       </select>
                     </div>
                  </div>
              </div>
              <br>
              <div>
                <label class="label is-normal">Fun Fact:</label>
                  <div class="control has-icons-left has-icons-right">
                    <textarea id="signup-fact" class="input is-link" type="text" placeholder="I am a crazy cat lady" value="2000" rows="1"></textarea>
                  </div>
              </div>
              <br>
              <div class="control">
                <label class="label is-normal">Hobby:</label>
                  <div id="signup-hobby">
                    <label class="radio">
                      <input type="radio" name="answer" value="Knitting">
                        Knitting
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Woodworking">
                        Woodworking
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Cars">
                        Cars
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Cats">
                        Cats
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Painting">
                        Painting
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Karaoke">
                        Karaoke
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Videogames">
                        Videogames
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer" value="Reading">
                        Reading
                    </label>
                  </div>
              </div>
              <br>
              <div class="field">
                <label class="label is-normal">Password:</label>
                 <p class="control has-icons-left">
                   <input id="signup-password" class="input is-link" type="password" placeholder="">
                     <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </p>
              </div>
              <br>

              {{!-- <label class="label is-normal">Upload a Picture:</label>
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
              </div>
                <br> --}}
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="https://termly.io/products/terms-and-conditions-generator/">terms and conditions</a>
                  </label>
                </div>
              </div>

              
              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-medium is-link">Sign Up</button>
                </div>
                <div class="control">
                  <a href="/login">
                    <button type="button" class="button is-link is-medium is-warning">Cancel</button>
                  </a>
                </div>
            </div>
    </form>

</main>

<script src="/js/signup.js"></script>