
/* ======= NAVBAR ========== */
.title-navbar {
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-bottom: 0px!important;
}

.navbar-about-us {
    padding-bottom: 20px!important;
}

.nav-p {
  padding-left: 30px;
  font-size: 21px;
  font-weight: 200;
  padding-bottom: 20px;
}

.navbar-about-us{
   padding: 0px!important;
   margin-left: 80px!important;
   font-size: 27px;
}

.navbar-item {
   align-items: baseline;
}

/* =====BACKGROUND IMAGES FOR HANDLEBARS======= */
.login-main {
    height: 800px; 
    box-sizing: border-box;
    background-image: url(../images/background1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}

.signup-main {
    height: 100%; 
    box-sizing: border-box;
    background-image: url(../images/background5.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}

.homepage-main {
    height: 800px; 
    box-sizing: border-box;
    background-image: url(../images/background13.png);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}

.results-main {
    height: 100%!important;
}

.search-main {
    height: 700px;
    margin-top: 5px;
}

.results-main {
    margin-top: 5px;
    height: 100%;
}

.profile-main {
    padding-top: 120px;
    padding-bottom: 120px;
    background: linear-gradient(rgb(214, 217, 248), 30%, rgb(214, 240, 220));
    /* background: linear-gradient(70deg, rgb(163, 168, 241), rgb(235, 235, 235)); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}

.editProfile-main {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgb(214, 217, 248), 30%, rgb(214, 240, 220));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}

/* ======= LOGIN PAGE ========= */

.login-form {
    margin-left: 200px;
    background-color: rgb(238, 250, 237);
    padding: 30px!important;
    border-radius: 15px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.title-login{
    font-size: 50px!important;
    font-size: bold!important;
}

.login-btn {
    font-size: 21px!important;
}

.login-btn:hover {
    background-color: rgb(180, 0, 150)!important;
}

#login-signup-p{
    font-size: 20px;
}

.slider{
    padding-left: 150px!important;
    margin-top: -200px;
	height: 200px;
	text-align: center;
	position: relative;
	animation: 5s forwards infinite;
}

.caption{
	line-height: 100px;
	font-size: 60px;
	color: #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	margin-left: -300px;
}

.text-box{
	display: inline-block;
	position: relative;
}

.text-box div {
	display: inline-block;
	position: absolute;
	top: -200px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	animation-timing-function: ease;
}

.text-box div:nth-child(1){
	animation: rollDown 10s forwards infinite;
    color: rgb(248, 86, 180);
}

.text-box div:nth-child(2){
	animation: rollDown2 10s forwards infinite;
    color: rgb(248, 86, 180);
}

@keyframes rollDown {
	0%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	11%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

.modal-login-content {
    text-align: center!important;
}

/* ======= HOME PAGE ========= */
.home-tab {
    margin-bottom: 0.2px!important;
    box-shadow: rgba(53, 25, 131, 0.35) 0px 5px 15px ;
}

.active-tab {
    font-weight: 700!important;
}

.home-tile-container {
  width: 1000px;
  margin-left: 600px;
  position: relative;
}

.home-main-card {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px!important;
    position: absolute;
    left: -2000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

.home-main-content {
    font-size: 35px;
    text-align: center;
}

.home-card-container{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   background-color: transparent!important;
   box-shadow: none!important;
   padding-top: 20px;
   position: absolute;
   left: -2000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}

.home-card {
    width:500px;
    display: inline-block;
}

#home-search-btn {
    margin-top: 20px;
    font-size: 20px!important;
}

.home-tile-one {
    background-color: rgb(211, 240, 143)!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px!important;
}

.home-tile-two {
    background-color: rgb(255, 142, 142)!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px!important;
}

.home-tile-three {
    background-color: rgb(119, 230, 187)!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px!important;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


/* ======= SIGNUP PAGE ========= */
.signup-form {
    margin-left: 800px;
    padding-bottom: 50px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}

/* ========= SEARCH PAGE ========== */

.search-form {
    background: linear-gradient(rgb(172, 139, 233), 40%, rgb(162, 224, 176));
    width: 400px!important;
    height: 400px;
    margin-left: 400px;
    margin-top: 120px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 30px;
    -webkit-animation: fadein 0.6s ease-in;
    -moz-animation: fadein 0.6s ease-in;
    animation: fadein 0.6s ease-in;
}

.search-label {
    font-size: 22px!important;
}

.search-age-container {
   display: inline;
}

#search-heart-img {
    width: 400px;
    animation-duration: 8s;
    animation-name: heart;
    animation-iteration-count: infinite;
}

@keyframes heart {
  0% {
    margin-top: 5%;
  }
  50% {
    margin-top: 180px;
  }
  100% {
    margin-top: 5%;
  }
}

.search-span {
    font-family: 'Satisfy', cursive;
    color: rgb(47, 40, 51)!important;
    font-weight: 600!important;
}

/* ===== RESULTS PAGE ======= */

.card-profile {
   display: inline-block;
   width: 400px;
   padding: 20px;
   margin: 20px;
   -webkit-animation: fadein 3s ease-in;
    -moz-animation: fadein 3s ease-in;
    animation: fadein 3s ease-in;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.result-animation {
    text-align: center;
    padding-top: 100px!important;
}

.result-title1 {
    -webkit-animation: fadein 0.5s ease-in;
    -moz-animation: fadein 0.5s ease-in;
    animation: fadein 0.5s ease-in;
}

.result-title2 {
    color: rgb(224, 17, 69)!important;
    -webkit-animation: fadein 1.5s ease-in;
    -moz-animation: fadein 1.5s ease-in;
    animation: fadein 1.5s ease-in;
}

.result-title3 {
    -webkit-animation: fadein 2.5s ease-in;
    -moz-animation: fadein 2.5s ease-in;
    animation: fadein 2.5s ease-in;
}

.result-title {
    font-family: 'Satisfy', cursive;
}

.profile-img {
    height: 230px!important;
    object-fit: cover;
}

.result-span-card {
    font-weight: bold;
}

.result-heart-img {
    width: 300px!important;
    margin-left: 50px;
}

.result-card-content {
    padding-top: 0px!important;
    padding-bottom: 3px!important;
}

/* ======= PROFILE PAGE ========== */

@keyframes fadein {
     0%   { opacity: 0; }
     100% { opacity: 1; }
}

.profile-card {
    width: 70%;
    /* padding-bottom: 120px!important;
    padding-top: 120px!important; */
    margin-left:auto!important;
    margin-right: auto!important;
    border-radius: 20px!important;
    -webkit-animation: fadein 0.8s ease-in;
     -moz-animation: fadein 0.8s ease-in;
     animation: fadein 0.8s ease-in;
     margin-left: auto;
     margin-right: auto;
     margin-top:30px;
}

.profile-button-container {
    text-align: end;
}

.profil-content-span {
    font-weight: 750!important;
}

.profile-delete-p {
    text-align: end!important;
}

.profile-delete {
    color: red;
}

/* New styles for different card */
.myprofile-image {
    width: 400px!important;
    height: 400px!important;
    object-fit: cover;
    border-radius: 50%!important;
    border: 2px solid rgb(0, 0, 0);
}

.profile-image-container{
   margin-left: auto!important;
   margin-right: auto!important;
}

.heart-btn-container{
    text-align: end;
}

.heart-button:hover {
  background-color: rgb(101, 189, 83)!important;
}
/* ======= EDIT PROFILE PAGE ========= */

.editProfile-card{
    width: 700px;
    margin-left:auto;
    margin-right: auto;
}

.editprofile-div-delete {
   padding-top: 10px!important;
   padding-bottom: 50px!important;
}

.editProfile-delete-p {
    text-align: end!important;
}

.editProfile-card-button{
    text-align: end!important;
}

.editProfile-uploadImage-container {
    width: 300px;
    margin-left: auto!important;
    margin-right: auto!important;
    padding-bottom: 40px!important;
    text-align: center;
}

.upload-img-button{
    margin-top: 10px!important;
}